@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font-one {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shred styles */
.bg-primary{
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
  display: flex;
}
.text-gray-02{
  color: rgba(66, 66, 66, 1);
}
.text-light-gray-03{
  color: #727272;
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
}
main > section{
  margin-top: 130px;
}
.section-titlle{
  font-size: 2.8rem;
  font-weight: 700;
}
/* Main style */
main{
  max-width: 1440px;
  margin: 0 auto;
}
/* Header styles */

/*nav styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: 700;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
  
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  font-size: 4rem;
  font-weight: 700;
}
.banner-img{
  width: 100%;
}

/* Team feature section */
.teams{
  align-items: center;
  
}
.team_img_containers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team_features{
  margin-left: 130px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500;
}
#featurea{
  color: rgba(255, 144, 14, 1);
}
/* Featuere section */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 125px;
}

.fact{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  padding: 45px 35px 60px;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number{
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}

.team-des{
  max-width: 500px;
}
.fact-des{
  text-align: center;
  font-size: 1.25;
  font-weight: 600;
} 

/* ____________________________________________________________________________________________ */


/* Responsivenes media query  for small device*/

@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links, 
  .teams{
    flex-direction: column;
  }
  .team_img_containers{
    grid-template-columns: repeat(1, 1fr);
  } 
  .team_features{
    margin-left: 20px;
  }
  .facts-container{
    grid-template-columns: repeat(1, 1fr);
    
  }
  .fact{
    margin: 0 auto;
  }
}



/* Responsivenes media query  for Medium device*/

@media screen and (min-width: 576px) and (max-width:992px) {
  .navbar, 
  .nav-links, 
  .teams{
    flex-direction: column;
  }
  .team_img_containers{
    grid-template-columns: repeat(2, 1fr);
  } 
  .team_features{
    margin-left: 50px auto;
  }
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    
  }
  .fact{
    margin: 0 auto;
  }
}